td {
    margin: 10px;
    padding: 10px;
}

tr {
    border-bottom: 5px;
    border-bottom-style: solid;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    margin: 10px;
    padding: 10px;
}
.ReimbursementInputDesc{
    width:50%;
    float:left
}
.ReimbursementInputAmount{
    width: 50%;
    float: right;
}

.inputField{
    width: 100%;
    height: auto;
    display: inline-block;
}

 .subButtons{
        border-color: #02040F;
        border-radius: 25px;
        padding: 15px;
        margin: 10px;
 }

 .tinySubButton {
     border-color: #02040F;
     border-radius: 25px;
     margin: 10px;
 }

 .Renewal{
    margin: 10px;
 }

 .Updating{
    margin: 10px;
    display: flex;
 }

 .RenewalSubmit{
    border-color: #02040F;
        border-radius: 25px;
        margin: 10px;
 }

 .UpdateSubmit {
     border-color: #02040F;
     border-radius: 25px;
     margin: 10px;
 }